node_modules
# Conda installers
*.sh

# Conda / Python
miniconda*
anaconda*
venv/
__pycache__/

frontend/Miniconda3-latest-Linux-x86_64.sh
miniconda*
anaconda*
*.sh
venv/
__pycache__/
    frontend/Miniconda3-latest-Linux-x86_64.sh
